* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote-container {
    text-align: center;
    width: auto;
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 2rem 3.5rem;
    box-shadow: 0 10px 10px 20px rgba(0, 0, 0, 0.12);
}

#quote-main {
    margin-bottom: 1rem;
}

.fa-quote-left {
    font-size: 3rem;
    color: rgb(255, 165, 2);
}

#quote-text {
    margin-left: 5px;
    font-weight: 700;
    font-size: 1.8rem;
    color: rgb(18, 140, 177);
}

#quote-author {
    margin-bottom: 1rem;
}

#author {
    font-size: 1.4rem;
    font-weight: 700;
    font-style: italic;
    color: #8e44ad;
}

#quote-btn {
    display: flex;
    justify-content: space-evenly;
}

button {
    border: none;
    padding: 8px 30px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
}

button:hover {
    filter: brightness(106%);
    transform: translateY(-3px);
}

button:active {
    transform: translateY(2px);
}


#twitter-btn {
    background-color: #1DA1F2;
}

.fa-twitter {
    color: #fff;
    font-size: 1.5rem;
}

#quote-new {
    background-color: rgb(44, 62, 80);
    color: #fff;
    font-size: 1rem;    
}

@media screen and (max-width: 1000px) {
    #quote-container {
        margin: auto 1rem;
    }

    .fa-quote-left {
        font-size: 2.4rem;
    }

    #quote-text {
        font-size: 1.5rem;
    }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #55efc4; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(360deg); }
  }